p{
    color: black;
}

*{
    font-family: 'Roboto Slab', serif;
    
}

h1{
    padding: 2px auto;
    text-align: center;
}

section{
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
    15px 25px 10px rgba(0, 0, 0, 0.05),
    15px 20px 20px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9);
    margin: 20px 100px 20px;
    padding-top: 20px;
    padding-left: 20px;
}

div{
    padding: 3px;
}

.pads{
    list-style-type: disc;
}